.idea
.idea/*
/node_modules
/public/hot
/public/storage
/public/img/user
/public/img/freelancers
/public/img/portfolios
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
