
.content-wrapper {
	padding-top: 118px;
	padding-bottom: 78px;
}

.video {
	border: 1px solid #000;
	/*width: 562px;*/
	height: 373px;
	color: #000;
	font: 102px 'intro';
	display: flex;
	justify-content: center;
	align-items: center;
}

.news {
	background-color: #272425;
	border: 1px solid #000;
	padding: 19px 12px;
	font-family: 'intro-regular';
}

.news-title {
	color: #fff;
	font-size: 16px;
	margin-bottom: 38px;
}

.finds-wrap {
	margin-top: 84px;
}

.find-an-investor,
.find-an-employer {
	background-color: #dda326;
	border: 1px solid #000;
	border-radius: initial !important;
	width: 100%;
	font: 18px 'intro';
	color: #fff;
	padding: 9px 0;
}

.investros-and-employers-section {
	background: url(../img/building.png) no-repeat center bottom;
	background-size: contain;
	background-color: #343942;
	width: 100%;
	max-width: 2096px;
	padding: 98px 0 250px 0;
	/*height: 500px;*/
}

.iae-section-right-inner {
	background-color: #272425;
	border: 1px solid #000;
	width: 100%;
	height: 180px;
}

.iae-title {
	font: 30px 'intro';
	margin-bottom: 65px;
}

.iae-title span {
	color: #dda326;
}

.iae-description {
	line-height: 25px;
}

.our-partners {
	background-color: #fff;
	padding-bottom: 156px;
}

.title-our-partners {
	color: #000;
	font: 78.15px 'intro';
	padding: 102px 0;
	text-align: center;
}

.title-our-partners span {
	color: #dda326;
}

.our-prtners-owl {
	margin-right: 25px;
}

@media (max-width: 575.98px) {

	.header-wrapper {
		padding-bottom: 80px;
	}

	.content-wrapper {
		padding-top: 80px;
	}

	.place-name h1 {
		font-size: 100px;
	}

	.place-name h2, 
	.place-name-second-pages h2 {
		font-size: 65.93px;	
	}

	.video h1 {
		font-size: 80px;
	}

	.finds-wrap {
		margin: 54px 0;
	}

	.find-an-investor {
		margin-bottom: 20px;
	}

	.our-partners {
		padding-bottom: 120px;
	}

	.our-prtners-owl {
		text-align: center;
		margin-right: initial;
	}

	.investros-and-employers-section {
		background-size: auto; 
	}

	.title-our-partners {
		font-size: 50px;
	}

}