@font-face{

font-family: 'intro';

src: url('../fonts/intro.otf');

src: url('../fonts/intro.otf') format('otf'),

url('../fonts/intro.otf') format('otf'),

url('../fonts/intro.otf') format('truetype'),

font-weight: normal;

font-style: normal;

}

@font-face{

font-family: 'intro-regular';

src: url('../fonts/intro-regular.ttf');

src: url('../fonts/intro-regular.ttf') format('ttf'),

url('../fonts/intro-regular.ttf') format('ttf'),

url('../fonts/intro-regular.ttf') format('truetype'),

font-weight: normal;

font-style: normal;

}

@font-face{

font-family: 'snowstorm';

src: url('../fonts/snowstorm.otf');

src: url('../fonts/snowstorm.otf') format('otf'),

url('../fonts/snowstorm.otf') format('otf'),

url('../fonts/snowstorm.otf') format('truetype'),

font-weight: normal;

font-style: normal;

}

body {
	font-family: intro;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
}

.br-mobile {
	display: none;
}

.find-an-investor-wrapper {
	padding: 120px 0;
}

a.find-an-investor-categories {
	/*background-color: #272425;*/
	display: block;
	/*text-align: center;*/
	text-decoration: none;
	height: 253.69px;
}

.find-an-investor-categories img {
	width: 100%;
	max-width: inherit;	
}

.find-an-investor-categories-title {
	/*color: #fff;*/
	color: #272425;
	font: 18px 'intro';
	padding: 15px 10px;
}
#img_change {
	margin-bottom: 10px;
}
#img_change img {
	width: 200px;
	height: auto;
}

.modal-title {
	color: #272425;
}

.hidden {
	display: none;
}

.likes-popover {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}
.form-group label {
	color: #000;
	margin-bottom: 10px;
	text-transform: none;
	margin-left: 5px;
}

@media (max-width: 575.98px) {

	.find-an-investor-wrapper {
		padding: 80px 0;
	}

	div.header-wrapper {
		padding-bottom: 80px;
	}

	.place-name-second-pages {
		margin-top: 50px;
	}

	.place-name-second-pages .place-name-second-pages-title {
		font-size: 55.93px;
	}

	a.find-an-investor-categories {
		height: initial;
		margin-bottom: 15px;
	}

}

@media (min-width: 768px) and (max-width: 991.98px) {
	div.header-wrapper {
		padding-bottom: 80px;
	}

	.find-an-investor-wrapper {
		padding: 80px 0;
	}

	a.find-an-investor-categories {
		height: initial;
		margin-bottom: 15px;
	}

}

