
.header-wrapper {
	background-color: #3e404d!important;
	background: url(../img/header-bg.jpg) no-repeat center;
	background-size: cover;
	/*height: 750px;*/ 
	width: 100%;
	max-width: 1597px;
	margin: 0 auto;
	padding-bottom: 125px;
}

.nav-wrapper {
	width: 100%;
	max-width: 1378px;
	margin: 0 auto;
	font-family: 'intro';
}

.navbar-wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
}

.navbar-light.bg-light {
	background-color: transparent!important;
}

.navbar-light .navbar-wrapper .navbar-nav .nav-link,
.navbar-light .nav-wrapper .navbar-text {
	color: #fff;
	font-size: 13.5px;
}

.navbar-wrapper .navbar-nav .nav-link {
	padding-right: 20px;
	padding-left: 20px; 
}

.nav-item:hover {
	background-color: #dda426;
	transition: 0.3s;
}

.active {
	background-color: #dda426;
}

.btnSign .btn {
	border: 1px solid #fff;
	color: #fff;
	padding: 2px 23px;
	font-size: 13.5px;
}

.navbar-wrapper .nav-item {
	margin-right: 15px;
}

.place-name,
.place-desc,
.place-name-second-pages {
	text-align: center;
}

.place-name {
	margin-top: 17%;
	font-size: 119px;
}

.place-name-second-pages {
	margin-top: 100px;
}

.place-name h1,
.place-name h2,
.place-name-second-pages h2 {
	text-transform: uppercase;
	font-family: "snowstorm";
	color: #000;
}

.place-name h1 {
	font-size: 119px;
	line-height: 100px;
}

.place-name h2,
.place-name-second-pages h2 {
	font-size: 75.93px;
}

.place-name span {
	color: #dca226;
}

.place-desc {
	margin-top: 60px;
}

.place-desc p {
	color: #dda326;
	font-family: 'intro-regular';
	font-size: 25px;
	margin-top: 5px;
	font-weight: 700;
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
	letter-spacing: 3px;
}

/*Start dropdown menu*/
.dropdown-content {
  	display: none;
  	position: absolute;
  	background-color: #f9f9f9;
  	min-width: 160px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
}

.dropdown-content a {
	background-color: #92832e;
	border-bottom: 1px solid #fff;
  	float: none;
  	color: #fff;
  	padding: 12px 16px;
  	text-decoration: none;
  	display: block;
  	text-align: left;
    font: 13.5px 'intro';
}

.dropdown-content a.last {
	border-bottom: initial;
}

.dropdown-content a:hover {
  	background-color: #dda426;
  	color: #353942;
}

.dropdown:hover .dropdown-content {
  	display: block;
  	transition: 0.3s;
}

.dropdown:hover .dropdown-content.mega-menu {
	display: flex !important;
}

.mega-menu-first-block {
	border-right: 1px solid #fff;
}
/*End dropdown menu*/

.header-wrapper .navbar-toggler:focus {
	outline: initial;
	/*border: 2px solid #dda426;
	transition: .3s;*/
}

.nav-link-mobile {
	display: none;
}

.megamenu-mobile {
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	max-width: 200px;
	width: 180px;
}

.megamenu-mobile ul li a {
	background-color: #92832e;
	border-bottom: 1px solid #fff;
	float: none;
	color: #fff;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	font: 13.5px 'intro';
}

.dropdown-menu.megamenu-mobile {
	padding: 0;
}

@media (max-width: 575.98px) {

/*Start dropdown menu*/
	.nav-link-desktop {
		display: none;
	}

	.nav-link-mobile {
		display: block;
	}
/*End dropdown menu*/

	#navbarText{
		margin-top: 25px;
	}

	.navbar-logo {
		text-align: center;
	}

	.navbar-wrapper {
		margin: 25px 0;		
	}

	.navbar-light .navbar-toggler {
		border-color: #dda426;
	}

}

@media (min-width: 768px) and (max-width: 991.98px) {

	/*Start dropdown menu*/
	.nav-link-desktop {
		display: none;
	}

	.nav-link-mobile {
		display: block;
	}

	.megamenu-mobile.show {
		display: flex;
	}

	.megamenu-mobile-inner {
		display: inline-block;
	}
	/*End dropdown menu*/
	#navbarText{
		margin-top: 25px;
	}

	.navbar-logo {
		text-align: center;
	}

	.navbar-wrapper {
		margin: 25px 0;		
	}

	.navbar-light .navbar-toggler {
		border-color: #dda426;
	}

	.place-name-second-pages {
		margin-top: 50px;
	}
	
}