.news-wrapper {
	padding: 220px 0;
}

.photo {
	background-color: #272425;
	padding: 29px 21px;
}

.photo img {
	width: 100%;
	max-width: inherit;
}

.photo-title {
	font: 30.68px 'intro';
	color: #fff;
	text-transform: uppercase;
	padding-bottom: 29px;
}

.new-content {
	background-color: #f5f5f5;
	padding: 14px 22px;
	margin: 35px 0;
}

.new-content-text {
	color: #000;
	font: 14px 'intro';
	margin-bottom: 12px;
}

.right-blocks {
	background-color: #272425;
	/*height: 273px;*/
	margin-bottom: 65px;
	padding: 20px;
	position: relative;
}

.right-blocks img {
	max-width: 100%;
}

.news-details-title {
	position: absolute;
	bottom: 35px;
	left: 35px;
	font: 20px 'intro';
	text-transform: uppercase;
	text-decoration: initial;
	/*color: #272425;*/
	color: #dda426;
}

.all-news-line {
	background-color: #353942;
	width: 100%;
	/*max-width: 1920px;*/
	padding: 52px 0;
	margin-top: 57px;
	margin-bottom: 57px;
}

.title-all-news {
	color: #fff;
	font: 60px 'intro';
	text-transform: uppercase;
}

.title-all-news a {
	color: #fff;
}

.title-all-news span {
	color: #dda326;
}

.title-all-news a:hover {
	color: #fff;
	text-decoration: none;
}

.right-blocks-wrapper-link {
	display: block;
}

.three-blocks {
	background-color: #dda426;
	padding: 21px;
	margin-top: 61px;
	height: 280px;
}

.three-blocks-title {
	color: #000;
	font: 50px 'intro';
}

/*Start news detail*/

.news-on-click-wrapper {
	padding-top: 194px;
	padding-bottom: 208px;
}

.watch-the-video {
	height: 380px;
}

.watch-the-video {
	background: url(../img/watch-the-video.jpg) no-repeat center center;
	box-shadow: 3px 5px 7px #b1b1b1, -3px -5px 7px #b1b1b1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bnt-play-video {
	text-align: center;
}

.bnt-play-video img {
	cursor: pointer;
}

.bnt-play-video p {
	color: #061e37;
	font: 14px 'intro-regular';
	cursor: pointer;
	margin-top: 37px;
}

.quiz-block {
	background-color: #272425;
	padding: 30px 13px 90px 13px;
}

.h1-title {
	font: 47.2px 'intro';
}

.quiz-block h1 {
	margin-bottom: 74px;
}

.quiz-title {
	background-color: #fff;
	border-radius: 5px;
	color: #000;
	padding: 10px;
	font: 20px 'intro';
	margin-bottom: 23px;
	/*width: 75%;*/
	width: fit-content;
}

.quiz-title-sp {
	padding-left: 62px;
}

.quiz-circle {
	width: 21px;
	height: 21px;
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid #695120;
	/*display: inline-block;*/
	display: block;
	float: left;
	cursor: pointer;
	margin-right: 15px;
}

.quiz-title-active {
	background-color: #fff;
}

.quiz-circle-active {
	background-color: #dda326;
}

.advertising {
	background-color: #272526;
	padding: 44px;
	text-align: center;
	margin-top: 22px;
}

.advertising h2 {
	font: 30.68px 'intro';
}

.advertising-text {
	background-color: #272425;
	box-shadow: 5px 0 10px #b1b1b1, -5px 0 10px #b1b1b1;
	padding: 20px 14px;
	margin-top: 13px;
	height: 695px
}

.discussion {
	background-color: #b1b1b1;
	box-shadow: 5px 10px 13px #b1b1b1, -5px -10px 10px #b7b7b7;
	margin-top: 13px;
	padding: 28px 13px;
	/*height: 638px;*/
	position: relative;
}

.discussion-content {
	margin-top: 32px;
	/*text-align: right;*/
}

.discussion-content span {
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 3px 10px 15px #747474;
	color: #000;
	font: 13px 'intro';
	/*width: 176px;
	padding: 9px 20px 9px 88px;*/
}

.to-write {
	box-shadow: 5px 10px 15px #b1b1b1, -5px 4px 15px #b1b1b1;
	padding: 5px 14px;
	margin-top: 18px;
	text-align: right;
}

.btn-to-write{
	/*color: #7f7f7f;*/
	color: transparent;
	font: 13px 'intro';
}

.list-unstyled.customize-post-comment {
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 3px 10px 15px #747474;
	padding: 15px;
}

.customize-post-commenter-name {
	color: #000;
	font: 13px 'intro';
	/*width: 176px;*/
}

.card.card-submit-customize {
	box-shadow: 5px 10px 15px #b1b1b1, -5px 4px 15px #b1b1b1;
	width: 100%;
    margin-top: 18px;
    text-align: right;
	position: absolute;
	right: 0;
	bottom: -200px;
	border-radius: initial;
}

.card.card-login-customize {
	position: absolute;
	right: 25px;
	bottom: -55px;
	font: 13px 'intro';
	border: initial;
}

.card.card-login-customize .card-body {
	padding: 0;
}

.card.card-login-customize .card-body a {
	border-color: transparent;
	background-color: initial;
	color: #212529;
	padding: 0;
}

.btn-outline-success.customize-submit-comment-btn {
	border: 1px solid #212529;
	color: #212529;
	font: 13px 'intro';
	transition: .5s;
}

.btn-outline-success.customize-submit-comment-btn:hover {
	background-color: #212529; 
	color: #fff;
	transition: 0.5s;
}

.customize-comment-list {
	margin-bottom: 10px;
}

.comments-area-cusomize {
	white-space: initial !important;
}

.likes-area {
	display: flex;
	position: relative;
}

.form-check-input-answer {
	opacity: 0;
}

.btn-sending-quiz-answer {
	font: 8px 'intro-regular';
}

.quizUserAnswerCount {
	font: 12px 'intro-regular';
	margin-top: -15px;
    margin-bottom: 10px;
    padding-left: 10px;
    display: inline-block;
}

.post-video {
	width: 100%;
}

@media (max-width: 575.98px) {
	.news-wrapper {
		padding: 80px 0;
	}

	.right-blocks {
		border-bottom: 1px solid #cecece;
		margin-bottom: initial;
		display: flex;
		padding: 10px;
	}

	.right-blocks img {
		max-width: 100%;
		/*height: 100%;*/
		width: 100px;
		/*height: 100px;*/
	}

	.news-details-title {
		color: #fff;
		font-size: 14px;
		position: initial;
		padding-left: 10px;
	}

	.advertising {
		margin: 60px 0;
	}

	.title-all-news {
		font-size: 40px;
		text-align: center;
	}

	.all-news-line {
		margin-top: 65px;
		margin-bottom: 5px;
	}

	/*News on click*/
	.news-on-click-wrapper {
		padding: 80px 0;
	}

	.watch-the-video {
		height: 280px;
	}

	.quiz-block {
		margin: 25px 0;
	}

	.quiz-title {
		width: 100%;
	}

	.quiz-title-sp {
		padding-left: 20px;
	}

	.h1-title {
		font-size: 37.2px;
	}

	.quiz-block h1 {
		margin-bottom: 44px;
	}

	.to-write {
		display: none;
	}

	.card.card-submit-customize {
		position: initial;
		right: initial;
		bottom: initial;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

	.news-wrapper {
		padding: 80px 0;
	}

	.navbar-logo {
		text-align: center;
	}

	button.navbar-toggler {
		border-color: #dda426 !important;
	}

	.news-on-click-wrapper {
		padding: 80px 0;
	}

	.h1-title {
		font-size: 37.2px;
	}

	p.quiz-title {
		width: 100%;
	}

	.quiz-block h1 {
		margin-bottom: 44px;
	}

	.three-blocks-title {
		font-size: 30px;
	}

	.title-all-news {
		font-size: 50px;
		text-align: center;
	}

}